//
@import "fonts.scss";
@import "varibles.scss";
@import "reset.scss";


//header
@import "header.scss";
 
//main
@import "advantages.scss";
@import "services.scss";
@import "team.scss";
@import "clients.scss";
@import "publication.scss";

//footer
@import "footer.scss";

//services
@import "general_services.scss";

//form_page
@import "form_page.scss";


.gradient {
    background: linear-gradient(45deg, #643E72 0%, #323264 40%, #323264 100%);
    border-radius: 0 0 12px 12px;
    position: relative;
    &::before {
        content: '';
        width: 97%;
        background-color: #CACADB;
        height: 10px;
        border-radius: 0 0 12px 12px;
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 0;
    }
    &::after {
        content: '';
        width: 94%;
        background-color: #E7E7F2;
        height: 20px;
        border-radius: 0 0 12px 12px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: -2;
    }

}
.hero {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: calc(100vh - 114.5px);
        @media screen and (max-width: 779px) {
            height: calc(100vh - 222.5px);
        }
        @media screen and (max-width: 375px) {
            height: calc(100vh - 108.5px);
        }
        &__text{
            font-family: $Montserat;
            color: #fff;
            font-size: 2rem;
            font-weight: 700;
            position: absolute;
            top: 300px;
            z-index: 999;
            @media screen and (max-width: 779px) {
                top: 190px;
            }
            @media screen and (max-width: 500px) {
                width: 50%;
                right: 100px;
                top: 80px;
            }
            @media screen and (max-width: 375px) {
                width: 50%;
                right: 80px;
                top: 180px;
            }
        }
        &__img {
            object-fit:cover;
            height: 100vh;
            position:absolute;
            top:-114.5px;
            z-index: 998;
            @media screen and (max-width: 779px) {
                top:-222.5px;
            }
            @media screen and (max-width: 625px) {
                width: 100%;
            }
            @media screen and (max-width: 500px) {
                top:-232.5px;
            }
            @media screen and (max-width: 495px) {
                top:-252px;
            }
            @media screen and (max-width: 391px) {
                top:-271.5px;
            }
            @media screen and (max-width: 375px) {
                top:-108.5px;
            }
        }
        .button {
            height: calc(100vh - 114.5px);
            position: absolute;
            top: 700px;
            @media screen and (max-width: 779px) {
                top: 590px;
            }
            @media screen and (max-width: 375px) {
                top: 530px;
            }
        }
        
        &__button {
            height: 42px;
            width: 42px;
            border-radius: 50%;
            border: 2px solid #FFFFFF;
            //position: absolute;
            //top: 600px;
            background-color: transparent;
            &:hover {
                border-color: #F0145A;
            }
            .left_check {
                display: block;
                width: 14px;
                height: 2px;
                background-color: #fff;
                transform: rotate(40deg);
                margin-top: 5px;
                margin-left: 7px;
                &:hover {
                    border-color: #F0145A;
                }
            }
            .right_check {
                display: block;
                width: 14px;
                height: 2px;
                background-color: #fff;
                transform: rotate(-40deg);
                margin-left: 17px;
                margin-top: -2px;
                &:hover {
                    border-color: #F0145A;
                }
            }
        }
    }
.question__heading, .member__quote {
    @media screen and (max-width:375px) {
        font-size: 1.875rem;
    }
}
