//fonts
$Montserat: 'Montserrat', sans-serif;
$bold: 700;


//colors
$main_hover: #F0145A;
$text_color: #fff;
$gradient_text: linear-gradient(to right,  #EF8080 0%, #F0145A 100%);

//hover_effects 
$ease: .5s ease;